[Unit]
Description=Create Swapfile

[Service]
Type=oneshot
User=ubuntu
ExecStart=/home/ubuntu/Snapyelp/etc/bin/create_swapfile.sh

[Install]
WantedBy=multi-user.target